.main {
  display: flex;
  min-height: 100vh;
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;

  background-image: url("img/pattern.png");
}

.main__content {
  width: 320px;
  padding-top: 20px;
}

.main__text {
  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
  color: #ffffff;

  font: 300 36px/44px "Exo2", "Arial", sans-serif;
}

@media (min-width: 768px) {
  .main__content {
    width: 700px;
    padding-top: 40px;
  }
}

@media (min-width: 1440px) {
  .main__content {
    width: 1120px;
    padding-top: 0px;
  }

  .main__text {
    margin-bottom: 24px;
  }
}
